.carousel-caption {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    width: 15rem;
    height: 15rem;
  }
  
  .carousel-date,
  .carousel-lang,
  .carousel-det {
    margin: 5px 0;
  }

  .carousel-pack {
    display: flex;
    flex-direction: column;
  }