.project-carousel-container {
  flex: 0 0 calc(33.33% - 20px);
  margin-bottom: 25px;
  box-sizing: border-box;
  align-items: center;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-pack {
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel-date,
.carousel-lang,
.carousel-det {
  margin: 5px 0;
  font-size: 14px;
}