.content-container {
  padding: 60px 30px;
  background-color: #f8f8f8;
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin-left: 10px;
}

.img-section {
  background-color: #f9f9f9;
  position: relative;
  overflow: hidden;
}

.profile-img {
  width: 55rem;
  height: 25rem;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-list {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: auto;
}

/* .project-list .project-carousel-container {
  flex: auto; 
  margin: 0 1rem; */
  /* max-width: 100%; */
/* } */

.projects-h1 {
  font-weight: light;
  font-size: 20px;
  color: rgb(101, 101, 101);
  position: relative;
  box-sizing: border-box;
}

.projects-h1::before,
.projects-h1::after {
  content: "";
  display: inline-block;
  width: 25rem;
  height: 1px;
  background-color: rgb(77, 77, 77);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.projects-h1::before {
  left: -24rem;
}

.projects-h1::after {
  right: -24rem;
}

@media (max-width: 767px) {
  .flex-container {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .project-list {
    margin-left: 0;
    width: auto;
  }
}