.content-container {
  padding: 60px 30px;
  background-color: #f8f8f8;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.img-section {
  background-color: #f9f9f9;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.profile-img
.profile-imgT {
  width: 33rem;
  height: 15rem;
}

.project-list {
  padding-bottom: 2rem;
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 8rem;
  margin-right: 8rem;
}

.projects-h1 {
  font-weight: light;
  font-size: 20px;
  color: rgb(101, 101, 101);
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  padding: 0 15px;
}

.projects-h1::before,
.projects-h1::after {
  content: "";
  display: inline-block;
  width: 50%;
  height: 1px;
  background-color: rgb(77, 77, 77);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.projects-h1::before {
  left: -50%;
}

.projects-h1::after {
  right: -50%;
}

@media (max-width: 767px) {
  .flex-container {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .project-list {
    margin-left: 0;
    width: auto;
  }
}