.skills-section {
  /* Change background color */
  background-color: #eeeeee;
  padding: 15px 20px;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 7%;
  margin-left: 1rem;
}

.section-title {
  font-size: 25px;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 350;
  text-decoration: 1.5px underline;
}

.skills-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.skill {
  display: flex;
  align-items: center;
  margin: 10px 0;
  transition: transform 0.2s;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-icon {
  font-size: 55px;
  color: #596ea1;
  transition: transform 0.2s;
}

.skill-name {
  font-size: 14px;
  color: #333;
}

.skill-icon:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .skills-section {
    width: auto;
    padding: 15px;
  }

  .section-title {
    font-size: 28px;
  }

  .skills-icons {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .skill {
    margin: 10px;
  }
}