.skills-section {
  background-color: #eeeeee;
  padding: 20px;
  margin-top: 50px;
  display: flex;
  width: 15rem;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
}

.section-title {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.skills-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill {
  display: flex;
  align-items: center;
  margin: 10px 0;
  transition: transform 0.2s;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-icon {
  font-size: 55px;
  color: #3866c1;
  transition: transform 0.2s;
}

.skill-name {
  font-size: 14px;
  color: #333;
}

.skill-icon:hover {
  transform: scale(1.1);
}