.about-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.about-header {
    display: flex;
    align-items: center; /* Center items horizontally */
    margin-bottom: 20px;
  }  

.about-h1 {
    font-size: 5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20%;
  }

  .prof-img {
    width: 25rem;
    height: 12rem;
    border-radius: 50%;
    /* border: 1px solid #073f30; */
    margin-left: 15rem;
  }

  .about-text {
    max-width: 600px;
    padding: 2rem;
    text-align: left;
  }
  
  .about-text p {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #666;
    line-height: 1.5;
  }

  @media (max-width: 768px) {
    .about-con {
      flex-direction: column;
      text-align: center;
    }
  
    .about-h1 {
      margin-bottom: 20px;
      margin-right: 0;
    }
  
    .prof-img {
      margin-bottom: 20px;
    }
  }