.about-con {
  display: flex;
  flex-direction: row;
}

.header-p {
  flex: 1;
  max-width: 30rem;
  margin-left: 4rem;
  margin-top: 7%;
  text-align: left;
}

.about-img {
  display: flex;
  flex-direction: row;
  background-color: #fefdfd;
  height: 24rem;
  width: 80rem;
  border-bottom: 1px solid rgb(238, 238, 238);
  margin-left: 20px;
}

.about-h1 {
  font-size: 5rem;
  font-weight: bold;
  color: #333;
  max-width: 400px;
  margin-bottom: 4%;
  margin-left: 15px;
}

.prof-img {
  width: 52rem;
  height: 24rem;
}

.about-text1 {
  max-width: 600px;
  padding-left: 10px;
  padding-right: 10px;
  color: #7b7b7b;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 6%;
}

.about-text2 {
  max-width: 600px;
  padding-left: 10px;
  padding-right: 10px;
  color: #333;
  font-size: 1.1rem;
  font-weight: 350;
}

@media (max-width: 768px) {
  .about-con {
    flex-direction: column;
    text-align: center;
  }

  .prof-img {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .skills {
    max-width: 100%;
    padding-left: 0;
  }
}