.about-con {
    align-items: center;
    margin-top: 4%;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.about-header {
    display: flex;
    align-items: center; /* Center items horizontally */
  }  

.about-h1 {
    font-size: 5rem;
    font-weight: bold;
    color: #333;
  }

  .prof-img {
    width: 25rem;
    height: 12rem;
    border-radius: 50%;
    border: 1px solid #073f30;
    margin-left: 15rem;
  }

  .about-text {
    max-width: 600px;
    padding: 2rem;
    text-align: left;
  }
  
  .about-text p {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #666;
    line-height: 1.5;
  }

  .header-p {
    display: flex;
    flex-direction: column;
    /* Change color to match contact flex */
    background-color: #fefdfd;
    width: 40%;
    align-items: center;
    margin-left: 10%;
  }

  @media (max-width: 768px) {
    .about-con {
      flex-direction: column;
      text-align: center;
    }
  
    /* .about-h1 { */
      /* margin-bottom: 20px; */
      /* margin-right: 0; */
    /* } */
  
    .prof-img {
      margin-bottom: 20px;
    }
  }