.heading {
    height: 10rem;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.logo {
    width: 90px;
    margin-right: 20rem;
}

.social-icons {
    display: flex;
    margin-left: 10rem;
}

.social-icons img {
    width: 45px;
    height: auto;
    border: none;
}

.social-icons a {
    border: none;
    margin-right: 15px;
}

.linkedin-icon {
    margin-right: 15px;
    filter: invert(100%);
}

.linkedin-logo {
    width: 45px;
    height: auto;
    filter: invert(50%);
}

.github-icon {
    margin-right: 15px;
    filter: invert(100%);
}

.nav-heading {
    margin-right: 30px;
    display: flex;
    flex-direction: row;
}

.header-description {
    font-size: 1.2rem;
    margin-top: 25px;
    margin-bottom: 7.5rem;
    color: #ddd;
    text-align: center;
}

@media (max-width: 768px) {
    .nav-heading {
        margin-right: 0;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
      }
    
      .logo {
        margin-right: 0;
        flex: 1;
      }
    
      .social-icons {
        margin-left: 0;
      }
}