.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-item {
    margin-top: 5px;
    padding: 0;
  }
  
  .nav-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(233, 233, 233);
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #6b6969;
  }

  @media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
        gap: 1rem;
    }
}
